.advantages {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
}

.advantages__wrapper {

}

.advantages__title {
  .set();
  margin-bottom: 43px;
  padding: 0 32px;
  .text(@fz-text);
  text-align: center;
}

.advantages__list {
  .set-ul();
}

.advantages__item {
  padding-bottom: 1px;
  text-align: center;
  background-color: #eeeeee;
  &--blue {
    background-color: @blue;
  }
}

.advantages__subtitle {
  .set();
  margin-bottom: 15px;
  padding-top: 43px;
  .text(@fz-mobile; @color-title);
  &--white {
    color: @color-textlight;
  }
}

.advantages__number {
  .set();
  margin-bottom: 22px;
  .text(@lh: 21px;);
  &--white {
    color: @color-textlight;
  }
}

.advantages__description {
  .set();
  margin-bottom: 42px;
  padding: 0 32px;
  .text(@lh: 21px;);
  &--white {
    color: @color-textlight;
  }
}

.advantages__town {
  width: 320px;
  height: 260px;
  background-image: url("../img/advantages/photo-city@1x.jpg");
}

.advantages__bridge {
  width: 320px;
  height: 260px;
  background-image: url("../img/advantages/photo-bridge@1x.jpg");
}
