.booking {
  text-align: center;
}

.booking__title {
  .set();
  margin-bottom: 30px;
  padding-top: 55px;
  .text(21px; @color-title);
  font-family: @ff-bold;
}

.booking__description {
  .set();
  margin-bottom: 50px;
  .text(14px; @lh: 24px;)
}

.booking__button {
  margin-bottom: 65px;
}

.booking__map {
  .set();
}
