.booking {

  text-align: center;
}

.booking__wrapper {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

.booking__title {
  .set();
  margin-bottom: 25px;
  padding-top: 30px;
  .text(21px; @color-title);
  font-family: @ff-bold;
}

.booking__description {
  .set();
  margin-bottom: 38px;
  .text(14px; @lh: 24px;)
}

.booking__button {
  width: 100%;
  margin-bottom: 50px;
}

.booking__map {
  .set();
}
