.button {
  display: block;
  box-sizing: border-box;
  width: 281px;
  margin: 0 auto;
  padding: 10px 47px;
  .text(21px; @color-textlight;);
  font-family: @ff-bold;
  text-decoration: none;
  background-color: @blue;
  cursor: pointer;
}
