.features__list {
  .set-ul();
}

.features__item {
  position: relative;
  padding-left: 70px;
  padding-right: 20px;
  text-align: left;
  background-color: @white;

  &::before {
    content: "";
    position: absolute;
    top: 35px;
    left: 20px;
    background-repeat: no-repeat;
  }

  &--accomodation::before {
    width: 37px;
    height: 36px;

    background-image: url("../img/house.svg");
  }

  &--food::before {
    width: 38px;
    height: 34px;

    background-image: url("../img/food.svg");
  }

   &--souvenirs::before {
    left: 25px;
    width: 32px;
    height: 37px;
    background-image: url("../img/gift.svg");
  }
}

.features__subtitle {
  .set();
  margin-bottom: 20px;
  padding-top: 40px;
  .text(@fz-mobile; @color-title);
}

.features__text {
  .set();
  padding-bottom: 35px;
  .text(@lh: 21px;);
}

@media (min-width: @tablet-width) {
  .features {
    flex-grow: 1;
    width: 100%;
  }

  .features__list {
    display: flex;
    flex-wrap: wrap;
  }

  .features__item {
    box-sizing: border-box;
    width: 256px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 160px;
    text-align: center;

    &::before {
      top: 100px;
      left: 90px;
    }

    &--accomodation::before {
      width: 75px;
      height: 72px;
    }

    &--food::before {
      width: 77px;
      height: 68px;
    }

     &--souvenirs::before {
      left: 95px;
      width: 64px;
      height: 75px;
    }
  }
}
