@media (min-width: @tablet-width) {
  .feedback-form {
    width: 768px;
    width: 648px;
    margin: 0 auto;
  }

  .feedback-form__wrapper {
    display: flex;
    flex-wrap: wrap;

  }

  .feedback-form__list {
    width: 100%;
  }

  .feedback-form__list-name {
    box-sizing: border-box;
    width: 50%;
    border-left: 1px solid #e5e5e5;
  }

  .feedback-form__list-impression {
    order: -1;
    width: 50%;
  }


}
