.feedback-form__list {
  width: 320px;
  .set();
  margin: 0 auto;
  margin-bottom: 25px;
  border: none;

}

.feedback-form__subtitle {
  display: block;
  width: 100%;
  margin-bottom: 26px;
  padding-top: 22px;
  font-family: @ff-bold;
  .text(@fz-mobile; @color-title;);
  text-align: center;
   border-top: 1px solid #e5e5e5;

}

.feedback-form__input-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.feedback-form__label {
  width: 30%;
  margin-right: 0px;
  .text();

  &--full {
    width: 100%;
    margin-left: 20px;
  }

  &--phone {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: -52px;
      right: 0;

      width: 52px;
      height: 52px;

      background-color: #e6e6e6;
      background-image: url("../img/icons/phone-receiver.svg");
      background-repeat: no-repeat;
      background-size: 18px 18px;
      background-position: center;
    }
  }

  &--mail {
     position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: -52px;
      right: 0;

      width: 52px;
      height: 52px;

      background-color: #e6e6e6;
      background-image: url("../img/icons/close-envelope.svg");
      background-repeat: no-repeat;
      background-size: 18px 18px;
      background-position: center;
    }
  }

  &--bold {
    font-family: @ff-bold;
  .text(@fz-mobile; @color-title;);
  text-transform: none;
  }
}

.feedback-form__input {
  width: 70%;
  box-sizing: border-box;
  padding: 18px 57px 18px 21px;
  background-color: #f2f2f2;
  border: none;

  &--full {
    width: 100%;
  }

  &::placeholder {
    font-family: @ff-bold;
  .text(@fz-mobile; @color-title;);
  }
  &:hover {
    background-color: #e5e5e5;
  }
  &:active,
  &:focus {
    outline: 0;
    background-color: @color-textlight;
    border: 4px solid #e5e5e5;
  }
}

.feedbacl-form__textarea {
  display: block;
  box-sizing: border-box;
  width: 279px;
  height: 160px;
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 20px 30px 20px 22px;
  font-family: @ff-bold;
  .text(@fz-mobile; @color-title;);
  background-color: #f2f2f2;
  border: none;
  &:hover {
    background-color: #e5e5e5;
  }
  &:active,
  &:focus {
    outline: 0;
    background-color: @color-textlight;
    border: 4px solid #e5e5e5;
  }
}

.feedback__button {

}

.feedback-form__impression-list {
  .set-ul();
  margin-left: 20px;
}

.feedback-form__impression-label {
  position: relative;
  display: block;
  margin-bottom: 40px;
  padding-left: 64px;
  cursor: pointer;
}

.feedback-form__impression-indicator {
  position: absolute;
  top: -10px;
  left: -3px;
  width: 45px;
  height: 45px;
  background-color: #f2f2f2;
  border-radius: 50%;

}

.feedback-form__radio {
 /*  Скрываю родные радиокнопки */
  -ms-transform: scale(0); /* IE */
  -moz-transform: scale(0); /* FF */
  -webkit-transform: scale(0); /* Safari and Chrome */
  -o-transform: scale(0); /* Opera */

  position: absolute;
}

.feedback-form__radio:checked + .feedback-form__impression-indicator::before {
    content: "";

    position: absolute;
    top: 14px;
    left: 14px;

    width: 15px;
    height: 15px;

    background-color: #333333;
    border-radius: 50%
  }

.feedback-form__radio:hover + .feedback-form__impression-indicator,
.feedback-form__radio:focus + .feedback-form__impression-indicator {
  background-color: #e5e5e5;
}

.feedback-form__radio:active + .feedback-form__impression-indicator {
  background-color: #d5d5d5;
}

.feedbacl-form__attraction-list {
  .set-ul();
  margin-left: 20px;
}

.feedbacl-form__attraction-label {
  position: relative;
  display: block;
  margin-bottom: 55px;
  padding-left: 80px;
  cursor: pointer;
  &--last {
    margin-bottom: 15px;
  }
}

.feedback-form__attraction-indicator {
  position: absolute;
  top: -13px;
  left: 0px;

  width: 55px;
  height: 55px;

  background-color: #f2f2f2;
  border-radius: 5px;
}

.feedback-form__checkbox:hover + .feedback-form__attraction-indicator,
.feedback-form__checkbox:focus + .feedback-form__attraction-indicator {
  background-color: #e5e5e5;
}

.feedback-form__checkbox:active + .feedback-form__attraction-indicator {
  background-color: #d5d5d5;
}

.feedback-form__checkbox:checked + .feedback-form__attraction-indicator::before {
    content: "";

    position: absolute;
    top: 19px;
    left: 16px;

    width: 26px;
    height: 16px;

    background-image: url("../img/feedback/tick.svg");
    background-repeat: no-repeat;
}

.feedback__necessary {
  display: none;
  .text();
}

@media (min-width: @tablet-width) {
  .feedback-form__subtitle {
    border-top: none;
  }

  .feedback-form__input-wrapper {
    width: 100%;
  }

  .feedbacl-form__attraction-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 460px;
    margin: 0 auto;
  }

  .feedbacl-form__textarea {
    width: 100%;
  }

  .feedback-form__footer {
    display: flex;
    justify-content: space-between;
  }

  .feedback__button {
    margin: 0;
  }

  .feedback__necessary {
    display: block;
    align-self: center;
  }
}
