.main-nav__list {
  .set-ul();
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
}

.main-nav__item {

}

.main-nav__link {
  display: block;
  .text(@fz-mobile; @color-textlight);
  padding: 15px 120px;
  font-family: @ff-bold;
  text-align: center;
  text-decoration: none;
  background-color: @blue;
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;

  &:hover,
  &:focus {
    background-color: @hoverblue;
  }
  &:active {
    color: fade(@color-textlight, 30%);
    background-color: @activeblue;
  }
}
