.main-nav {
  position: relative;
  order: -1;
  width: 320px;
  margin: 0 auto;
}

.main-nav__list {
  .set-ul();
}

.main-nav__toggle {
  position: absolute;
  top: 16px;
  right: 20px;
  padding: 0;
  width: 25px;
  height: 24px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 10px;

    width: 3px;
    height: 20px;

    background-color: @white;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__item {

}

.main-nav__link {
  display: block;
  .text(@fz-mobile; @color-textlight);
  padding: 15px 90px;
  font-family: @ff-bold;
  text-align: center;
  text-decoration: none;
  background-color: @blue;
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;

  &:hover,
  &:focus {
    background-color: @hoverblue;
  }
  &:active {
    color: fade(@color-textlight, 30%);
    background-color: @activeblue;
  }
}
