.modal-send {
  display: none;
  background-color: @white;
}

.modal-send__title {
  .set();
  margin-bottom: 35px;
  padding-top: 45px;
  font-family: @ff-bold;
  .text(@fz-mobile; @color-title);
  text-align: center;
}

.modal-sent__text {
  line-height: 24px;
  text-align: center;
  &--failure {
    margin-bottom: 28px;
  }
  &--success {
    margin-bottom: 38px;
  }
}

.modal-sent__button-wrapper {
  padding: 20px;
  background-color: #d5d5d5;
}
