.page-footer {
  width: 320px;
  margin: 0 auto;
  text-align: center;
}

.page-footer__label-sedona {
  padding-top: 40px;
}

.page-footer__social {
  padding-top: 40px;
}

.page-footer__copyright {
  padding-top: 40px;
  padding-bottom: 23px;
}
