.photo__list {
  width: 320px;
  .set-ul();
  margin: 0 auto;
  /* text-align: center; */
}

.photo__item {
  width: 280px;
  margin: 0 auto;
}

.photo__content {
  .set();
  padding-top: 23px;
  border-top: 1px solid #e5e5e5;
}

.photo__title-image {
  margin-bottom: 9px;
  font-family: @ff-bold;
  color: @color-title;
}

.photo__image {
  margin-bottom: 20px;
}

.photo__author-image {
  .set();
  margin-bottom: 15px;
  text-align: left;
}

.photo__like-link {
  display: block;
  margin-bottom: 22px;
  text-decoration: none;
}

.photo__like-icon {
  path {
    fill: #b2b2b2;
  }
}

.photo__likes {
  margin-left: 15px;
  font-family: @ff-bold;
  .text(@color: @color-title; @lh: 24px;);
}
