.presentation {
  padding-top: 37px;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}

.presentation__title {
  .set();
  margin-bottom: 30px;
  font-family: @ff-bold;
  .text(@fz-mobile; @color-title;)
}

.presentation__description {
  .set();
  margin-bottom: 37px;
}
