.social__list {
  .set-ul();
}

.social__link {
  color: @color-textlight;
  text-decoration: none;
  background-color: @blue;

  &:hover,
  &focus {
    background-color: @hoverblue;
  }
  &:active {
    color: fade(@color-textlight, 30%);
    background-color: @activeblue;
  }
}
