@font-face {
  font-family: 'PT Sans Bold';
  src: url('../fonts/PTSans-Bold.eot');
  src: url('../fonts/PTSans-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/PTSans-Bold.woff2') format('woff2'), url('../fonts/PTSans-Bold.woff') format('woff'), url('../fonts/PTSans-Bold.ttf') format('truetype'), url('../fonts/PTSans-Bold.svg#PTSans-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans Regular';
  src: url('../fonts/PTSans-Regular.eot');
  src: url('../fonts/PTSans-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/PTSans-Regular.woff2') format('woff2'), url('../fonts/PTSans-Regular.woff') format('woff'), url('../fonts/PTSans-Regular.ttf') format('truetype'), url('../fonts/PTSans-Regular.svg#PTSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Семейства шрифтов */
/* Цвета */
/* Размеры шрифтов */
.button {
  display: block;
  box-sizing: border-box;
  width: 281px;
  margin: 0 auto;
  padding: 10px 47px;
  font-size: 21px;
  color: #ffffff;
  line-height: 26px;
  font-family: 'PT Sans Bold';
  text-decoration: none;
  background-color: #81b3d2;
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
}
.main-nav__link {
  font-size: 18px;
  color: #000000;
  line-height: 26px;
  font-family: 'PT Sans Bold';
  text-decoration: none;
}
.page-main__title {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  font-size: 18px;
  color: #000000;
  line-height: 26px;
  text-align: center;
}
.advantages__title {
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  font-size: 14px;
  color: #333333;
  line-height: 26px;
  text-align: center;
}
.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.advantages__item {
  padding-top: 55px;
  padding-bottom: 1px;
  text-align: center;
  background-color: #eeeeee;
}
.advantages__item--blue {
  background-color: #81b3d2;
}
.advantages__subtitle {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  font-size: 18px;
  color: #000000;
  line-height: 26px;
}
.advantages__subtitle--white {
  color: #ffffff;
}
.advantages__number {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  font-size: 14px;
  color: #333333;
  line-height: 21px;
}
.advantages__number--white {
  color: #ffffff;
}
.advantages__description {
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
  font-size: 14px;
  color: #333333;
  line-height: 21px;
}
.advantages__description--white {
  color: #ffffff;
}
.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.features__item {
  padding-top: 57px;
  padding-bottom: 80px;
  background-color: #ffffff;
}
.features__subtitle {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  font-size: 18px;
  color: #000000;
  line-height: 26px;
}
.features__text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #333333;
  line-height: 21px;
}
.booking {
  text-align: center;
}
.booking__title {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  padding-top: 55px;
  font-size: 21px;
  color: #000000;
  line-height: 26px;
  font-family: 'PT Sans Bold';
}
.booking__description {
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  font-size: 14px;
  color: #333333;
  line-height: 24px;
}
.booking__button {
  margin-bottom: 65px;
}
.booking__map {
  margin: 0;
  padding: 0;
}
.page-footer__label-sedona {
  padding-top: 40px;
}
.page-footer__social {
  padding-top: 40px;
}
.page-footer__copyright {
  padding-top: 40px;
  padding-bottom: 23px;
}
.label-sedona__hashtag {
  font-size: 21px;
  color: #000000;
  line-height: 26px;
  font-family: 'PT Sans Bold';
}
.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.social__link {
  color: #ffffff;
  text-decoration: none;
  background-color: #81b3d2;
}
body {
  font-family: 'PT Sans Regular', Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}
.visually-hidden:not(:focus):not(active),
input[type="checkbox"].visually-hidden,
input[type="checkbox"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
